body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("https://media.tenor.com/OXZxZife1_EAAAAM/happy-st-patricks-day-happy-saint-patricks-day.gif") no-repeat center center fixed;
  background-size: cover;
}

.inicio {
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.header img{
    max-width: 10px;
    max-height:  10px;
  margin-right: auto;

}
  .boton-contacto {
  position: relative;
  display: inline-block;
  padding: 10px 18px;
 background: linear-gradient(180deg, #063b06, #0b5d0b);
    padding: 15px 40px;
    font-size: 1.4rem;
    color: #ffea63;
    border-radius: 40px;
    border: 2px solid gold;
    text-decoration: none;
    text-shadow: 0 0 6px #000, 0 0 10px gold;
    box-shadow: 0 0 15px rgba(0,0,0,.7), inset 0 0 18px rgba(255,215,0,.2);
    transition: 0.25s;
}

.boton-contacto:hover {
  background: linear-gradient(180deg, #0b5d0b, #139913);
    transform: scale(1.07);
    box-shadow: 0 0 20px gold, inset 0 0 22px rgba(255,255,255,.4);
}
.toggle-sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20000;
 background: linear-gradient(180deg, #063b06, #0b5d0b);
    padding: 15px 40px;
    font-size: 1.4rem;
    color: #ffea63;
    border-radius: 40px;
    border: 2px solid gold;
    text-decoration: none;
    text-shadow: 0 0 6px #000, 0 0 10px gold;
    box-shadow: 0 0 15px rgba(0,0,0,.7), inset 0 0 18px rgba(255,215,0,.2);
    transition: 0.25s;
}

.toggle-sidebar:hover {
 background: linear-gradient(180deg, #0b5d0b, #139913);
    transform: scale(1.07);
    box-shadow: 0 0 20px gold, inset 0 0 22px rgba(255,255,255,.4);
}
@keyframes shimmer {
    0% { color: #ffea63; text-shadow: 0 0 6px #000, 0 0 10px gold; }
    100% { color: #fff7a8; text-shadow: 0 0 10px gold, 0 0 18px gold; }
}
.hero-content {
    
    justify-content: space-around;
    min-height: 70vh;
    display: flex; 
    justify-content:start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #f2f230;
}
.hero-content h1 {
   display: inline-block;
    background: linear-gradient(180deg, #063b06, #0b5d0b);
    padding: 18px 60px;
    border-radius: 30px;
    font-size: 2.3rem;
    color: #ffea63;
    border: 2px solid gold;
    box-shadow: 0 0 15px rgba(255,215,0,.4), inset 0 0 20px rgba(0,0,0,.5);
    text-shadow: 0 0 8px #000, 0 0 12px gold;
    
}
.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
    color:#f2f230 ;
}
.hero-content h1:hover{
    transform: scale(1.1);
    box-shadow: #ffffff;
}
.boton2 {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #063b06, #0b5d0b);
    padding: 15px 40px;
    font-size: 1.4rem;
    color: #ffea63;
    border-radius: 40px;
    border: 2px solid gold;
    text-decoration: none;
    text-shadow: 0 0 6px #000, 0 0 10px gold;
    box-shadow: 0 0 15px rgba(0,0,0,.7), inset 0 0 18px rgba(255,215,0,.2);
    transition: 0.25s;
}


.boton2:hover {
  background: linear-gradient(180deg, #0b5d0b, #139913);
    transform: scale(1.07);
    box-shadow: 0 0 20px gold, inset 0 0 22px rgba(255,255,255,.4);
}
.rainbow-gif {
  position: absolute;
  top: 50%;                
  left: -300px;           
  width: 300px;             
  height: 300px;
  background: url("https://www.gifcen.com/wp-content/uploads/2024/12/st-patricks-day-gif-6.gif") no-repeat center/contain;
  pointer-events: none;    
  animation: rainbowMove 5s linear infinite;
  z-index: 999; 
}

@keyframes rainbowMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 300px));
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  box-shadow: 3px 0 15px rgba(0,0,0,0.8);
  z-index: 2000;

  transform: translateX(-100%); 
  transition: transform 0.4s ease-in-out;
}


.sidebar.show {
  transform: translateX(0);
}


.sidebar-nav {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal {
  display: none; 
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(6px);
  z-index: 3000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #f2f230;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  color: #f2f230;
  text-align: center;
  font-family: cursive;
  box-shadow: 0 0 10px #f2f230;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: #f2f230;
}

.modal-content input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 2px solid #f2f230;
  background: #264027;
  color: #f2f230;
  font-family: cursive;
}

.google-btn {
  width: 90%;
}
